cycler==0.10.0
h5py==2.6.0
Keras==1.1.0
matplotlib==1.5.3
numexpr==2.6.1
numpy==1.11.1
pandas==0.19.0
pyparsing==2.1.10
python-dateutil==2.5.3
pytz==2016.7
PyYAML==3.12
root-numpy==4.6.0.dev0
rootpy==0.8.3
scikit-learn==0.18
scipy==0.18.1
six==1.10.0
sklearn==0.0
tables==3.3.0
Theano==0.8.2
